
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Transient Service</h3>
    @ViewBag.message1
    </br>
    @ViewBag.message2

    <h3>Scoped Service</h3>
    @ViewBag.message3
    </br>
    @ViewBag.message4

    <h3>Singleton Service</h3>
    @ViewBag.message5
    </br>
    @ViewBag.message6

</body>
</html>
